// Main colors
$header: #aa8863;
$body: #F2F2F2;
$footer: #3a3a3a;
$main-brown: #5f3814;
$main-green: #049e4a;


// Text
// $alphabet: #323130;
$alphabet: #693c11;
$alphabetInverse: #f7f9ff;
$alphabet-second: #70b294;


// Link
$icon: #70b294;

//Success case colors
$success:#3FB547;

//Error case colors
$error: #EB2729;

$facebook: #3b5998; 
$instagram: #fbad50;
$youtube: #f00;

// PIXELS
$screen-xxxs-min: 500px;
$screen-xxs-min: 710px;
$screen-xxs: 601px;
$screen-xs-min: 600px;
$screen-xs: 601px;
$screen-sm-min: 766px;
$screen-sm: 900px;
$screen-md-min: 1100px;
$screen-md: 1024px;