@media only screen and (max-width: $screen-xxxs-min) {
    .home__image_img-willkomen {
        width: 80%;
        margin: 0px 10%;
    }
    .home__slider_img {
        animation: zoom-in-zoom-out 20s ease infinite;
        height: auto;
    }
    .home__slider{
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        background-color: #bbbbbb;
        background-image: none;
        background-position: 50%;
        overflow: hidden;
        position: relative;
    }
    
    @keyframes zoom-in-zoom-out {
        0% {
          transform: scale(1, 1);
        }
        50% {
            transform: scale(1.15, 1.15);
          }
        100% {
            transform: scale(1, 1);
        }
      }
}
