// max-width: 1100px
@media only screen and (max-width: $screen-md-min) {
    .speisekart__group-photo-info {
        margin-left: -80px;
    }
}
  
// max-width: 1024px
@media only screen and (max-width: $screen-md) {
    .speisekart__groups {
        width: calc(100% - 180px);
        padding: 20px 30px 0px 150px;
    }

    .speisekart__group-photo-info {
        margin-left: -120px;
    }
}

// max-width: 900px
@media only screen and (max-width: $screen-sm) {
    .speisekart__group {
        width: 90%;
        margin-left: 10%;
    }

    .speisekart__group-photo-info {
        margin-left: -200px
    }
}

// max-width: 710px
@media only screen and (max-width: $screen-xxs-min) {
    .speisekart__slider {
        height: 400px;
    }

    .speisekart__groups {
        width: calc(100% - 40px);
        padding: 20px 20px;
    }

    .speisekart__group {
        width: 100%;
        margin-left: 0px
    }

    .speisekart__group-photo-info {
      display: none;
  }
}

// max-width: 500px
@media only screen and (max-width: $screen-xxs-min) {
    .speisekart__slider {
        height: 340px;
    }

    .home__slider_img_menu {
        height: auto;
        width: 100%;
        animation: zoom-in-zoom-out 20s ease infinite;
    }

    .speisekart__slider {
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        background-color: #bbbbbb;
        background-image: none;
        background-position: 50%;
        overflow: hidden;
        position: relative;
    }
    
    @keyframes zoom-in-zoom-out {
        0% {
          transform: scale(1.15, 1.1);
        }
        50% {
            transform: scale(1.2, 1.2);
          }
        100% {
            transform: scale(1.15, 1.1);
        }
      }
}